<?xml version='1.0' encoding='utf-8'?>
<widget id="co.tython.beacon.demo" version="1.0.1" xmlns="http://www.w3.org/ns/widgets">
    <name>Beacon Demo</name>
    <description>
          A demo app that interacts with Estimote beacons through ranging and/or region monitoring
    </description>
    <author email="scott.covert@tython.co" href="http://www.tython.co/">
      Scott Covert
    </author>

    <content src="index.html"/>
    <access origin="*"/>
    <preference name="webviewbounce" value="false"/>
    <preference name="UIWebViewBounce" value="false"/>
    <preference name="DisallowOverscroll" value="true"/>

    <!-- Don't store local data in an iCloud backup. Turn this to "cloud" to enable storage
         to be sent to iCloud. Note: enabling this could result in Apple rejecting your app.
    -->
    <preference name="BackupWebStorage" value="none"/>

    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true"/>
    </feature>
</widget>
